<div class="container relative">
  <head>
    <style type = "text/css">
     h2 {font-family: 'Roboto Slab'; margin-top: 50px; margin-bottom: 50px;}
     .form-control{margin-bottom: 20px; font-family: 'Roboto', 'sans-serif'; font-size: 30px;}
    </style>
  </head> 
  <body>
    <h2>Resend confirmation instructions</h2>
    
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
    
      <div class="form-group">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-default" %>
      </div>
    <% end %>
  </body>
</div>
  <%= render "devise/shared/links" %>
