<section>
    <div class="post-type-blog single">
        <div class="container relative">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="post-article">
                        <div class="post-entry">
                            <div class="post-content">
                                <div >
                                    <h1 class="section-title "><%=@view_form.title%> </h1>
                                    <h2 class="section-sub-title"><%=@view_form.writer.nickname%></h2>
                                </div>
                                <li><a><i class="fa fa-clock-o"></i> <%= @view_form.created_at.strftime("%Y-%m-%d")%></a></li>
                                <li><a>ಠ <%= @view_form.impressionist_count%></a></li>
                          
                                <p><%=@view_form.content%></p>
                            </div>
                            <div class="post-footer">
                                <div class="post-tag">
                                    <h5>Tag:</h5>
                                    <% tags = @view_form.hashtag.split(",")%>
                                    <%tags.each do |tag|%>
                                    #<%=link_to tag,"/home/form_result?search=#{tag}"%>
                                    <%end%>
                                </div>
                                <div class="post-share">
                                    <div class="share">
                                        <form action="/home/form_scrap_action" method="POST">
                                          <input type="hidden" value="<%=@view_form.title%>" name="scrap_title">
                                          <input type="hidden" value="<%=@view_form.writer.nickname%>" name="scrap_nickname">
                                          <input type="hidden" value="<%=@view_form.created_at.strftime("%Y-%m-%d")%>" name="scrap_time">
                                          <input type="hidden" value="<%=@view_form.likers.count%>" name="scrap_likes">
                                          <input type="hidden" value="<%=@view_form.impressionist_count%>" name="scrap_hits">
                                          <input type="hidden" value="<%=@view_form.freplies.count%>" name="scrap_replies">
                                          <input type="hidden" value="<%=@view_form.id%>" name="scrap_id">
                                          <button type="submit" class="btn btn-default">스크랩</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="col s12 like_div">
                        
                              <%= link_to liking_path(@view_form.id), class: "like_btn #{if current_user.likees.include? p then :liked else :unliked end}", method: 'post', remote: true, id: "like_btn_#{@view_form.id}" do %>
                                좋아요
                              <% end %>
                              
                              <span id="liker_wrap<%= @view_form.id %>">
                                <%= render partial: 'liker_list', locals: {p: @view_form} %>
                              </span>
                            </div>
                        </div>
                    </div>
                    
                

                    <div class="post-comment">
                        <div class="comment-title">
                            <h2><%=@view_form.freplies.count%> Comments</h2>
                        </div>
                        
                        <div id="comments">
                            <ul>
                              <%@view_form.freplies.each do |r|%>
                                <li class="clearfix">
                                    <div class="pull-left avatar">
                                        <a href="javascript:void(0);"><img src="images/avatar1.jpg" alt=""></a>
                                    </div>
                                    <div class="comment_right">
                                        <div class="comment_info clearfix">
                                            <div class="pull-left comment_author">
                                                <a href="#"> <%=r.writer.nickname%></a>
                                            </div>
                                        </div>
                                        <p><%=r.content%></p>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-10">
                                      <%=r.created_at.strftime("%Y-%m-%d")%>
                                    </div>
                                    <div class=" col-md-2" >
                                      <% if can? :manage, r %>
                                      <%=link_to "삭제", form_reply_destroy_path(r.id), method: 'get'%>
                                      <%end%>
                                    </div>
                                    </div>
                                </li>    
                              <%end%>      
                            </ul>
                        </div>
                    </div>

                    <div class="post-comment">
                        <div class="comment-title">
                            <h2>Post new review</h2>
                        </div>

                        <form id="comment_form" class="row" action="/home/form_reply" method="post">

                            <div class="col-lg-6 col-md-6 pl0">
                                <div class="form-group">
                                    <p class="help-block text-danger"></p>
                                    <input type="hidden" value="<%=@view_form.id%>" name="id_of_form">
                                    <textarea style="width:200%;"name="reply_f" class="form-control" placeholder="Message" id="comment" required="" data-validation-required-message="Please enter a message."></textarea>
                                    <div id="success"></div>
                                </div>
                            </div>
                            
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="send_btn">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                      <div>
                         <%=link_to "메일보내러가기", form_mail_path(@view_form.id), method: 'get'%>
                         <%=link_to "목록으로 가기", form_list_path(@view_form.category) , method: 'get' %>
                      </div>
                      <div class="edit" align="right">
                        <% if can? :manage, @view_form %>
                          <%= link_to "수정",form_update_path(@view_form.id), method: 'get'%>
                          <%= link_to "삭제", form_destroy_path(@view_form.id), method: 'get'%>
                        <% end %>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>