
<div align="center"style="margin-bottom:1%;margin-top:10%;margin-left:20%;">
    <h1>BEST 교메때</h1>
</div>

<div class="row p60" style="margin-left:20%;">
      <div id="masonry" class="masonry infinite-scroll">
<%@best_form.each do |p|%>
    <%if p.likers.count>0%>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-12 masonry photography travel" style="cursor:pointer;"onclick="location.href='/form_view/<%=p.id%>'">
              <div class="post-article">
                <div class="thumbnail">
              
                <a href="single.html" title="#">
                     <%= image_tag asset_path('KakaoTalk_20160828_092045856.png'),style:"width:80%;",class: 'img-responsive' %>
                </a>
                </div>
        
                  <div class="post-entry">
                      <div class="post-content">
                          <ul class="post-author">
                              <li><a href="javascript:void(0)"><i class="fa fa-user"></i><%=p.writer.nickname%></a></li>
                          </ul>
                          <h5 class="post-title">
                              <%= link_to p.title, form_view_path(p.id) , method: 'get'%>
                          </h5>
                      </div>
                      <div class="post-footer">
                          <ul class="post-link">
                              <li><a >
                                  <i class="fa fa-clock-o"></i> <%= p.created_at.strftime("%Y-%m-%d")%>
                              </a></li>
                          </ul><br>
                          <ul class="post-link">
                              <li><a>
                                   ಠ <%= p.impressionist_count%>
                              </a></li>
                          </ul>
                          <ul class="post-link">
                            <li><a href="#">
                                <i class="fa fa-comments-o"></i> <%=p.freplies.count%>
                            </a></li>
                          </ul>
                          <ul class="post-link">
                              <li><a >
                                  ♡ <%=  p.likers.count %> 
                              </a></li>
                          </ul>
                      
                    
                      </div>
                  </div>
              </div>
          </div>
          <%else%>
          <div align="center" style="margin-bottom:5%;margin-left:32%;">
          <h3>"아직 Best 교메때가 없습니다."</h3>
          <p>베스트 교메때에 도전해보세요!</p>
          </div>
  <%end%>
  <%end%>
  </div> 
</div>
<br>
<br>
<br>

     






<div class="row p60" style="margin-left:20%;">
      <div id="masonry" class="masonry infinite-scroll">
<%@forms.each do |p|%>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-12 masonry photography travel" style="cursor:pointer;"onclick="location.href='/form_view/<%=p.id%>'">
              <div class="post-article">
                <div class="thumbnail">
              
                <a href="single.html" title="#">
                     <%= image_tag asset_path('KakaoTalk_20160828_092045856.png'),style:"width:80%;",class: 'img-responsive' %>
                </a>
                </div>
        
                  <div class="post-entry">
                      <div class="post-content">
                          <ul class="post-author">
                              <li><a href="javascript:void(0)"><i class="fa fa-user"></i><%=p.writer.nickname%></a></li>
                          </ul>
                          <h5 class="post-title">
                              <%= link_to p.title, form_view_path(p.id) , method: 'get'%>
                          </h5>
                      </div>
                      <div class="post-footer">
                          <ul class="post-link">
                              <li><a >
                                  <i class="fa fa-clock-o"></i> <%= p.created_at.strftime("%Y-%m-%d")%>
                              </a></li>
                          </ul><br>
                          <ul class="post-link">
                              <li><a>
                                   ಠ <%= p.impressionist_count%>
                              </a></li>
                          </ul>
                          <ul class="post-link">
                            <li><a href="#">
                                <i class="fa fa-comments-o"></i> <%=p.freplies.count%>
                            </a></li>
                          </ul>
                          <ul class="post-link">
                              <li><a >
                                  ♡ <%=  p.likers.count %> 
                              </a></li>
                          </ul>
                      
                    
                      </div>
                  </div>
              </div>
          </div>
  <%end%>
  </div>
      
  </div>












<div style="margin-left:15%"align="center">
  <p><%= link_to "글 쓰러 가기", home_form_write_path, method: 'get'%></p>
  <form action="/home/form_result" method="GET">
    <input type="text" name="search" class="form_control" style="width:50%;">
    <button type="submit" class="btn btn-default">검색</button>
  </form>
</div>