<!--#글 출력창-->

  
  <div class="well">
      조회수:<%=@view_form.impressionist_count%><br>
      제목:<%=@view_form.title%><br>
      내용:<%=@view_form.content%><br>
      해시태그:<% tags = @view_form.hashtag.split(",")%>
      <%tags.each do |tag|%>
      #<%=link_to tag,"/home/form_result?search=#{tag}"%>
      <%end%><br>
      <a href="/form_update/<%= @view_form.id %>">[수정]</a>
      <a href="/form_destroy/<%=@view_form.id %>">[삭제]</a>
      
  <!--#좋아요 버튼 근데 새로고침하면 숫자없어짐ㅎ..--> 
      <div class="col s12 like_div">
        <%= link_to liking_path(@view_form.id), class: "like_btn #{if current_user.likees.include? p then :liked else :unliked end}", method: 'post', remote: true, id: "like_btn_#{@view_form.id}" do %>
          <i class="tiny material-icons">thumb_up</i> 좋아요
        <% end %>
        <div id="liker_wrap<%= @view_form.id %>">
            <%= render partial: 'liker_list', locals: {p: @view_form} %>
        </div>
      </div>
      
  
  <!--#댓글창-->
    <div class="container">
      <form action="/home/form_reply" method="POST">
        <div class="form-group">
          <input type="hidden" value="<%=@view_form.id%>" name="id_of_form">
          <textarea name="reply_f" class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  <!--#댓글-->
    <%@view_form.freplies.each do |r|%>
    <p><%=r.content%></p>
    <a href="/form_reply_destroy/<%=r.id %>">[삭제]</a><br>
    <%end%>
  <!--메일링크-->
  <a href="/form_mail/<%=@view_form.id%>">메일보내러가기</a>
  <a href="/home/form_list">목록으로 가기</a>
  </div>
  
<!--검색-->
<form action="/home/form_result" method="GET">
  <input type="text" name="search" class="form_control">
  <button type="submit" class="btn btn-default">검색</button>
</form>

<!--#좋아요 기능 구현하기 위한 ajax-->

