<!--#글 출력창-->
<%=@form_hit%>
  <%@forms.each do |p|%>
  <div class="well">
      <%=p.title%><br>
      <%=p.content%><br>
      <%=p.like%><br>
      <a href="/home/form_result?search=<%=p.hashtag%>"><%=p.hashtag%></a><br>
      
  <!--#좋아요 버튼 근데 새로고침하면 숫자없어짐ㅎ..--> 
      <button onclick="clickCounter()" type="button">Like</button>
      <span id="result"></span>
  
  <!--#댓글창-->
    <div class="container">
      <form action="/home/form_reply" method="POST">
        <div class="form-group">
          <input type="hidden" value="<%=p.id%>" name="id_of_form">
          <textarea name="reply_f" class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  <!--#댓글-->
    <%p.freplies.each do |r|%>
    <p><%=r.content%></p>
    <%end%>
  <!--메일링크-->
  <a href="/form_mail/<%=p.id%>">메일보내러가기</a>
  </div>
  
<%end%>


<!--검색-->
<form action="/home/form_result" method="GET">
  <input type="text" name="search" class="form_control">
  <button type="submit" class="btn btn-default">검색</button>
</form>

<!--#좋아요 기능 구현하기 위한 ajax-->
<script>
function clickCounter() {
    if(typeof(Storage) !== "undefined") {
        if (localStorage.clickcount) {
            localStorage.clickcount = Number(localStorage.clickcount)+1;
        } else {
            localStorage.clickcount = 1;
        }
        document.getElementById("result").innerHTML =  localStorage.clickcount ;
    } else {
        document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
    }
}
</script>