<div class = container>
    <h1>내가 쓴 메일양식</h1>
    <div class="row p60" style="margin-left:20%;">
      <div id="masonry" class="masonry infinite-scroll">
<%@forms.each do |p|%>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-12 masonry photography travel" style="cursor:pointer;"onclick="location.href='/form_view/<%=p.id%>'">
              <div class="post-article">
                <div class="thumbnail">
              
                <a href="single.html" title="#">
                     <%= image_tag asset_path('1.jpg'), class: 'img-responsive' %>
                </a>
                </div>
        
                  <div class="post-entry">
                      <div class="post-content">
                          <ul class="post-author">
                              <li><a href="javascript:void(0)"><i class="fa fa-user"></i><%=p.writer.nickname%></a></li>
                          </ul>
                          <h5 class="post-title">
                              <%= link_to p.title, form_view_path(p.id) , method: 'get'%>
                          </h5>
                      </div>
                      <div class="post-footer">
                          <ul class="post-link">
                              <li><a >
                                  <i class="fa fa-clock-o"></i> <%= p.created_at.strftime("%Y-%m-%d")%>
                              </a></li>
                          </ul><br>
                          <ul class="post-link">
                              <li><a>
                                   ಠ <%= p.impressionist_count%>
                              </a></li>
                          </ul>
                          <ul class="post-link">
                            <li><a href="#">
                                <i class="fa fa-comments-o"></i> <%=p.freplies.count%>
                            </a></li>
                          </ul>
                          <ul class="post-link">
                              <li><a >
                                  ♡ <%=  p.likers.count %> 
                              </a></li>
                          </ul>
                      
                    
                      </div>
                  </div>
              </div>
          </div>
  <%end%>
  </div>
      
  </div>
</div>