<section id="screen-width" class="col-md-8 col-md-offset-2">
  <div class="post-type-blog single">
    <div class="container relative">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="post-article">
            <div class="post-entry">
              <div class="post-content">
                  <div class="help-block text-danger">
                      <div class="post-title">
                        <h1><%=@view_post.title%></h1>
                      </div><br>
                      <ul class="post-author">
                        <li>
                          <i class="fa fa-user">
                          </i>
                          익명
                        </li>
                        
                        <li>
                          &nbsp;&nbsp;&nbsp;
                          <i class="fa fa-clock-o">
                          </i>
                          <%=@view_post.created_at.strftime("%Y-%m-%d %I:%M:%S")%>
                        </li>
                        &nbsp;&nbsp;&nbsp;
                        조회수:<%=@view_post.impressionist_count%><br>
                      </ul>
                  </div>  
                <br>
                <br>
                <br>
                <br>
                <p>
                  <%=@view_post.content%>
                </p>
                <br>
                <br>
                <br>
                  
                      <% if can? :manage, @view_post %>
                      <%=link_to "수정", post_update_path(@view_post.id), method: 'get'%> 
                      <%=link_to "삭제", post_destroy_path(@view_post.id), method: 'get'%> </br>
                      <%end%>
                      
                <br>
              </div>  
              <div class="post-comment">
                <div class="comment-title">
                  <h3>"<%=@view_post.preplies.count%>개의 댓글" </h3>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div id="comments">
                  <ul>
                    <% @view_post.preplies.each do |r| %>
                      <li class="clearfix">
                        <div class="comment_info clearfix">
                          <div class="pull-left comment_author">
                            익명
                          </div>
                        </div>
                        <p>
                            <%=r.content%>
                        </p>
                        <div class="comment_date">
                          <span class="pull-left"><%=r.created_at.strftime("%Y-%m-%d %I:%M%p")%></span>
                        </div>
                      </li>                        
                    <%end%>                    
                  </ul>
                </div>
              </div>  
              <div class="post-comment">
                <form id="comment_form" action="/home/post_reply" method="POST">
                  <div class="form-group">
                    <p class="help-block text-danger"></p>
                    <input type="hidden" value="<%=@view_post.id%>" name="id_of_post">
                    <textarea name="reply_p" class="form-control" placeholder="댓글을 입력하세요." required data-validation-required-message="Please enter a message." rows="5" id="comment"></textarea>
                    <div id="success"></div>
                  </div>
                    <div class="col-lg-12 col-md-12">
                      <button type="submit" class="pull-right send_btn">Submit</button>
                    </div>
                </form>
                <script> $(".reply_submit").click(function(){
                  $.ajax({
                    method: "POST",
                    url: "/home/reply_write",
                    data: { name: "John", location: "Boston" }
                        })
                    .done(function( msg ) {
                    alert("리플이 작성되었습니다"); });
                  });
                </script> 
              </div>  
            </div>    
          </div>      
        </div>        
      </div>  
    </div>
  </div>

</section>