조회수:<%=@view_post.impressionist_count%><br>
작성자:익명<br>
제목: <%=@view_post.title%><br>
내용: <%=@view_post.content%><br>


<% if can? :manage, @view_post %>
<%=link_to "수정", post_update_path(@view_post.id), method: 'get'%> </br>
<%=link_to "삭제", post_destroy_path(@view_post.id), method: 'get'%> </br>
<%end%>

<div class="container">
  <% @view_post.preplies.each do |r| %>
    <%=r.content%></p>
  <%end%>
  
  <form action="/home/post_reply" method="POST">
    <div class="form-group">
      <input type="hidden" value="<%=@view_post.id%>" name="id_of_post">
      <textarea name="reply_p" class="form-control" rows="5" id="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<script> $(".reply_submit").click(function(){
  $.ajax({
    method: "POST",
    url: "/home/reply_write",
    data: { name: "John", location: "Boston" }
        })
    .done(function( msg ) {
    alert("리플이 작성되었습니다"); });
  });
</script>