<div class="container">
  <head>
    <style type = "text/css">
     h2 {font-family: 'Roboto Slab'; margin-top: 50px; margin-bottom: 50px;}
     .form-control{margin-bottom: 20px; font-family: 'Roboto', 'sans-serif'; font-size: 30px;}
    </style>
  </head>
  <body>
    <h2 class = "login_title">Log In</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <p>
         <%= f.label :email %><br>
         
         <%= f.email_field :email,  class: "form-control"%>
        </p>
      </div>
    
      <div class="form-group">
        <p>
         <%= f.label :password %><br>
         <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </p>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="form-group">
        <%= f.submit "Log In", class: "btn btn-default"%>
      </div>
    <% end %>
  </body>
</div>

<%= render "devise/shared/links" %>
