<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  
  
  
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">


      <!-- Collect the nav links, forms, and other content for toggling -->

        <ul class="nav navbar-nav">
          <li class="<%='active' if current_page?('/firstpage')%>"><%=link_to "HOME", "/firstpage" %></li>
          <li class="<%='active' if current_page?('/form_list')%>"><%=link_to "성적정정", "/form_list" %></li>
          <li class="<%='active' if current_page?('/form_list')%>"><%=link_to "수강문의", "/form_list" %></li>
          <li class="<%='active' if current_page?('/form_list')%>"><%=link_to "출석문의", "/form_list" %></li>
          <li class="<%='active' if current_page?('/form_list')%>"><%=link_to "면담요청", "/form_list" %></li>
          <li class="<%='active' if current_page?('/form_list')%>"><%=link_to "기타양식", "/form_list" %></li>
          <li class="<%='active' if current_page?('/post_list')%>"><%=link_to "커뮤니티", "/post_list" %></li>
          

          <li><a href="#">CONTACT</a></li>
        </ul>


      </div>
    </div>
  </header>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</body>
</html>
