<!DOCTYPE html>
<html>
<head>
  <title>교메때</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Bootstrap 시작 -->
   
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Bootstrap 끝 -->
  
  <!-- Modal  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
  <!-- Template 시작 -->
  <!-- Google fonts styles -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    
  <!-- Lifestone styles -->
  <link rel="stylesheet" href="assets/stylesheets/css/bootstrap.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="assets/stylesheets/css/font-awesome.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="assets/stylesheets/css/ionicons.min.css" type="text/css" media="screen">
    
  <!-- OWL Carousel -->
  <link href="assets/stylesheets/css/owl.carousel.css" rel="stylesheet">
  <link href="assets/stylesheets/css/owl.theme.css" rel="stylesheet">
  <link href="assets/stylesheets/css/owl.transitions.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/stylesheets/css/jquery-smartvimeoembed.css" type="text/css" media="screen">
  <link rel="stylesheet" href="assets/stylesheets/css/flexslider.css" type="text/css" media="screen">
  <link rel="stylesheet" href="assets/stylesheets/css/style.css" type="text/css" media="screen">
  
  <!-- FAVICON FILES -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body class="full-page">
  <!--================= Start Preloader ==================-->
    <div class="preloader">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
  <!--================= End Preloader ====================-->
  <div class ="row">
    <div class = "col-md-2">
    <!--================= Start sidebar ==================-->
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <div class="drilldown sidebar-nav mCustomScrollbar">
          <div class="sidebar-brand text-center">                     
            <a href="index.html">
              <%= image_tag asset_path('KakaoTalk_20160829_020445928.png'), style:"width:50%;",class: 'img-responsive' %>
            </a>
          </div>

          <div class="sidebar-bottom-wrap">
           
            <form id="search_form_1" name="search" method="get" class="search-form_header" action="/home/firstpage_result">
              <i class="fa fa-search submit-wrap" aria-hidden="true" style="color:white;"></i>
              <input type="text" onblur="if (this.value == '') {this.value = 'SEARCH...';}" onfocus="if (this.value == 'SEARCH...') {this.value = '';}" id="search" name="search" value="SEARCH..." class="textboxsearch">
            </form>
          </div>
          
          <div class="drilldown-container">
            <ul class="drilldown-root" style = "text-align: center">                         
              <li class="<%= is_active?(cover_report_path) %>">
                <%= link_to "HOME", cover_report_path , method: 'get'%>
              </li>

              <li class="<%= is_active?(form_list_path(1)) %>">
                <%= link_to "성적정정", form_list_path(1), method: 'get'%>
              </li>
              <li class="<%= is_active?(form_list_path(2)) %>">
                <%= link_to "수강/출석", form_list_path(2), method: 'get'%>
              </li>
              <li class="<%= is_active?(form_list_path(3)) %>">
                <%= link_to "면담요청", form_list_path(3), method: 'get'%>
              </li>
              <li class="<%= is_active?(form_list_path(4)) %>">
                <%= link_to "영어메일", form_list_path(4), method: 'get'%>
              </li>
              <li class="<%= is_active?(form_list_path(5)) %>">
                <%= link_to "기타양식", form_list_path(5), method: 'get'%>
              </li>
              <li class="<%= is_active?(post_list_path) %>">
                <%= link_to "커뮤니티", post_list_path, method: 'get'%>
              </li>
              <li class="<%= is_active?(cover_contact_path) %>">
                <%= link_to "CONTACT", cover_contact_path, method: 'get'%>
              </li>              
            </ul>
          </div>
  
        </div>
      </div>
      </div>
    </div>
    <!--================= End sidebar ==================-->
    <!--================= Start Top Bar ====================-->
      <ul class= "top-nav-bar col-md-12 col-md-offset-1" style="position:fixed;">
        <li class= "logo-top">
         <%= link_to (image_tag asset_path('KakaoTalk_20160829_035313826.png'), style:"width:80%;",class: 'img-responsive'), cover_report_path, method: 'get' %>
        </li>
        <% if user_signed_in? %>
          <li class= "top-Btn-2">
            <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data:{confirm: "Are you sure?"},class: "application_link"%>
          </li>
          <li class="user-nickname">
            <%= link_to current_user.nickname, home_mypage_path, method: "get", class: "application_link" %>님
          </li>
        <% else %>
          <li class= "top-Btn-2">
            <%= link_to "로그인 ", new_user_session_path, method:"get", class: "application_link" %>
          </li>
          <li class= "top-Btn-1">
            <%= link_to "회원가입", new_user_registration_path, method:"get", class: "application_link"%>
          </li>
        <% end %>
      </ul>

   
  <!--================= End Top Bar ====================-->
   
   <!--================= TOGGLE MENU ICON STARTS ==================-->
    <a href="#menu-toggle" class="menu-icon" id="menu-toggle"><i class="fa fa-bars"></i></a>
   <!--================= TOGGLE MENU ICON end ==================-->

   <!--================= Start Footer ==================-->
    <!--<footer>
      <div class="container relative">
        <div class="sub-footer"><span class="copyright"> Copyrights © 교메때</span></div>
      </div>
    </footer>-->
  <!--================= End Footer ==================-->
      
  </div>
  <!-- Jquery Lib version 1.11.0 -->
  <script type="text/javascript" src="javascripts/js/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/js/plugins.js"></script>
  <script type="text/javascript" src="javascripts/js/main.js"></script>
 
 
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</div>
</body>

</html>
